/* Existing CSS styles */
/* style.css imported on home.html */
/* style.css imported on resume.html */
/* style.css imported on about.html */
/* style.css imported on hyde.html */
/* style.css imported on bandgeeks.html */

html {
  -webkit-text-size-adjust: 100%;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
@font-face {
  font-family: 'queen';
  src: url(fonts/Butler_and_ButlerStencil/Butler_and_ButlerStencil/Butler_Webfont/Butler-UltraLight.woff);
}
@font-face {
  font-family: 'queen2';
  src: url(fonts/Butler_and_ButlerStencil/Butler_and_ButlerStencil/Butler_Webfont/Butler-Light.woff);
}
@font-face {
  font-family: 'queen3';
  src: url(fonts/Butler_and_ButlerStencil/Butler_and_ButlerStencil/Butler_Webfont/Butler-UltraLight.woff);
}
@font-face {
  font-family: 'work';
  src: url(fonts/static/Jost-Regular.ttf);
}
body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  cursor: none;
}
::selection {
  background: #cd60f8;
  color: black;
}
.fwh-slide {
  height: auto;
  width: 100vw;
  box-sizing: border-box;
}
.fwh-slide p {
  margin: 0;
}
.header {
  position: fixed;
  top: 55%;
  right: 2%;
  transform: translateY(-50%);
  z-index: 1;
  width: 2px;
  background-color: #f1f1f1;
  z-index: 9999999;
}

.progress-container {
  width: 100%;
  height: 10vh;
  background: #c8c6c6;
}

.progress-bar {
  width: 100%;
  background: #1e1e1e;
  height: 0;
  opacity: 0.6;
}

.scroll-text {
  position: fixed;
  top: -55px; 
  right: 2%;
  transform: translateX(50%) rotate(90deg);
  z-index: 2;
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'Geologica', sans-serif;  
  line-height: 1.5;
  color: #ccc;
  letter-spacing: 1px;
  font-weight: bold;
}
/* Testing... may get rid of */
.webContainer {
  width: 90%;
  min-width: 500px;
  margin: 0;
}
.cursor {
  position: fixed;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1.5px solid #eee;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 800ms ease, height 800ms ease;
  cursor: none;
  z-index: 9999;
}
.cursor.large {
  height: 45px;
  width: 45px;
}
/* Start of section 1 Home/nav */
.s1-container{
  background-color: #1e1e1e;
  height: 100vh;
  width: 100wh;
  margin: 0;
  padding: 0;
}
.s1content-wrapper {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup-container {
  width: 35%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5%;
  right: 5%;
}
.popup {
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}
.popup.show {
  opacity: 1;
}
.popup-button {
  display: inline-block;
  background-color: #1e1e1e;
  color: #ebeae1;
  padding: 12px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  cursor: none;
  border: 2px solid #ebeae1;
  font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', serif;
  opacity: 0.6;
}
.popup-button:hover {
  background-color: #333;
}
/* NAVBAR STYLING STARTS */
.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-left: 16%;
  padding-right: 14%;
  mix-blend-mode: difference;
  z-index: 0;
}
/* Media Queries for ultrawide screens */
@media (min-width: 2752px) and (max-width: 3840px) {
  .navbar{
  padding-left: 24%;
  padding-right: 24%;
  }
  .popup-container{
    right: 10%;
  }
}
.nav-links {
  list-style-type: none;
  padding-top: 8%;
  line-height: 3.5;
  z-index: 99999;
}
.nav-links a {
  color: #fff;
  animation: fade-up 2.5s forwards;
  -webkit-text-size-adjust: 100%;
  letter-spacing: .08em;
  font-family: 'queen';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  pointer-events: auto;
  box-sizing: border-box;
  background-color: transparent;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  font-size: 1.1rem;
  line-height: 2em;
  text-decoration: none;
  font-weight: bold;
}
@media (min-width: 2752px) and (max-width: 3840px) {
  .nav-links a {
  font-size: 1rem;
  }
}
/* LOGO */
.logo {
  animation: fade-up 2.5s forwards;
  cursor: none;
  z-index: 1002;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(205deg) brightness(104%) contrast(102%);
}
.logo-image {
  width: 45px; 
  height: 30px;
}
@media (min-width: 2752px) and (max-width: 3840px) {
  .logo-image {
    width: 50px;
    height: 35px;
  }
}
/* DROPDOWN MENU */
.services {
  position: relative;
}
.dropdown {
  padding: 1em 0;
  position: absolute;
  display: none;
  border-radius: 8px;
  z-index: 1000; /* I set a higher z-index for the dropdown... 1000 was a bit drastic but it gets the job done */
}
.dropdown li + li {
  margin-top: 10px;
}
.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}
.dropdown li:hover {
  background-color: transparent;
}
.services:hover .dropdown {
  display: block;
}
input[type=checkbox] {
  display: none;
}
/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
  cursor: none;
  position: relative; 
  top: -10px; 
  z-index: 1001; 
}
@media (max-width: 768px) {
  .menu {
    display: none;
    position: fixed;
    background-color: transparent;
    right: 0;
    left: 5%;
    text-align: center;
    top: 6%; 
    z-index: 1000; 
  }
  .menu li {
    display: inline-block; 
    margin-right: 24px;
  }

  input[type=checkbox]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #fff;
  text-decoration: none;
  cursor: none;
}
.hover-underline-animation:after {
  content: '';
  position: absolute;
  transform: scaleX(0);
  background-color: black;
  transition: transform 0.35s ease-out;
}
.hover-underline-animation:hover:after {
  transform: scaleX(1);
}
.hover-underline-animation.home:after {
  transform-origin: bottom left;
 /* Underline from left to right */
}
.hover-underline-animation.resume:after {
  transform-origin: bottom right;
 /* Underline from right to left */
}
.hover-underline-animation.about:after {
  transform-origin: bottom left;
 /* Underline from left to right */
}
.hover-underline-animation.new-section:after {
  background-color: black;
}
.hover-underline-animation.new-section:hover:after {
  transform: scaleX(1);
}
.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transition: transform 0.35s ease-out;
}
.hover-underline-animation:hover:after {
  transform: scaleX(1);
}
.hover-underline-animation.home:hover:after, .hover-underline-animation.about:hover:after {
  transform-origin: bottom right;
 /* Reverse the transform-origin on hover */
}
.hover-underline-animation.resume:hover:after {
  transform-origin: bottom left;
 /* Reverse the transform-origin on hover */
} 
/* Fade-in animation for the nav menu */
@keyframes fadeIn {
  0% {
      opacity: 0;
 }
  100% {
      opacity: 1;
 }
}
.ht-container {
  max-width: none;
  min-height: 100vh;
  flex-direction: column;
  flex: none;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
}
.header__headline-wrapper {
  z-index: 3;
  max-width: 640px;
  flex: none;
  position: relative;
}
#text-animation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  white-space: normal;
}
.word {
  opacity: 0;
  animation: fade-up 4s ease-in-out forwards;
  font-family: 'queen';
  font-size: 100px;
  color: #fff;
  white-space: normal;
  margin: 0 5px;
}
.word:nth-child(n+2) {
  animation-delay: calc(0.2s + 0.1s * (var(--index) - 1));
}
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
/* New container for Natalee Savage */
.natalee-container {
  max-width: none;
  min-height: 100vh;
  flex-direction: column;
  flex: none;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
}
.natalee-wrapper {
  z-index: 3;
  max-width: 640px;
  flex: none;
  position: relative;
}
.natalee-animation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  white-space: normal;
  align-items: center;
}
.natalee-word {
  opacity: 0;
  animation: natalee-line-up 4s ease-in-out forwards;
  font-family: 'queen2';
  font-size: 20px;
  color: #fff;
  white-space: normal;
  margin: 0 5px;
}
.natalee-word:nth-child(n+1) {
  animation-delay: calc(0.6s + 0.1s + 0.1s * (var(--index) - 2));
}
@keyframes natalee-line-up {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
    transform: translateY(0%);
  }
  100% {
    opacity: 0.6;
    transform: translateY(0%);
  }
}
.active {
  color: black;
}
/* Temp image for home screen */
.img-natalee1 {
  width: 360px;
  position: relative;
  left: 55%; 
  top: 25%; 
  opacity: 0.7; 
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease-in-out;
  border: 4px solid #ebeae1; 
  animation: img-fadein 3s;
}
.img-natalee1:hover {
  opacity: 0.8;
  transform: scale(1.1); 
  border: 4px solid #ebeae1; 
  filter: none; 
}
@keyframes img-fadein{
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 0.7;
    transform: translateY(0%);
  }
}
/* End of section 1 Home/nav */



/* ---- Start of New Section for work page  ---- */
section {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8f5ee; 
  transition: background-color 1.5s ease; 
}
section#work {
  background-color: #f8f5ee; 
}

section#contact {
  background-color: #f8f5ee;
}

#work.hyde-section {
  background-color: #512c2c;
}
#contact.hyde-section{
  background-color: #512c2c;
}

section#work.active {
  background-color: rgb(135, 119, 127); 
}

section#contact.active {
  background-color: rgb(135, 119, 127); 
}

section#work.active *:not(section#work) {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.s2-container{
  height: 100vh;
  width: 100wh;
  margin: 0;
  padding: 0;
}
.s2content-wrapper {
  position: absolute;
  top: 115%;
  left: 15%;
  transform: translate(-50%, -50%);
}
.work-head {
  padding-top: 4.5%;
  padding-bottom: 1%;
  margin-top: 0;
  font-family: 'queen';
  font-size: 3.5rem;
  font-weight: 100;
  line-height: 1.2em;
  padding-left: 25.3%;
  color: #1e1e1e;
}
.work-foot {
  position: relative;
  padding-bottom: 1%;
  font-family: 'work';
  font-size: 1rem;
  line-height: 1.77em;
  padding-left: 25.3%;
  color: #1e1e1e;
  letter-spacing: 0.05em;
  z-index: 0;
  width: fit-content;
  display: inline-block;
}
.work-foot a {
  display: inline-block;
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: #1e1e1e;
  opacity: 0.5;
  position: relative;
}
.work-foot a.current {
  opacity: 1; 
}
.work-foot a.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5px;
  width: 100%;
  height: 1px;
  background-color: #1e1e1e;
  opacity: 0.5;
  transition: width 0.3s ease-in-out;
}
.work-foot a.current:hover::after {
  width: 100%;
}
.work-foot a:hover {
  text-decoration: none;
  opacity: 1;
}
.work-foot a.active {
  position: relative;
  text-decoration: none;
  opacity: 1;
}

.work-foot a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 0.9px;
  background-color: #1e1e1e;
  animation: underline 0.6s forwards;
}

@keyframes underline {
  100% {
      width: 100%;
  }
}
/* Media Queries for ultrawide screens... this is my main monitor size*/
@media (min-width: 2752px) and (max-width: 3840px) {
  .work-head{
    padding-left: 31.6%;
    padding-bottom: 2.5%;
  }
  .work-foot{
    padding-left: 31.6%;
    padding-bottom: 1%;
  }
}
:root {
  --effect-height: 950px;
  --rotation-angle: 0deg;
  --image-gap: 15px;
  --images-per-column: 3;
  --columns-per-page: 4; 
  scroll-behavior: smooth;
}
.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0 !important;
  margin-bottom: 250px;
}
/* picture offset */
.backdrop .colum:nth-child(even) {
  position: relative; 
  top: calc(var(--effect-height) / var(--images-per-column) / 6);
  z-index: 0;
}
.element {
  display: block;
  width: 280px;
  height: 280px;
  background-size: 100% 100%;
  margin: var(--image-gap);
  perspective: 150rem;
  position: relative;
}
.element-side {
  backface-visibility: hidden;
  position: absolute;
  width: 280px;
  height: 280px;
  background-size: 100% 100%;
  margin: var(--image-gap);
  perspective: 150rem;
  transition: transform 0.9s ease-in-out; 
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  display: inline-block;
}

.element-side.front {
  display: inline-block;
  z-index: 1; 
  position: absolute;
  transition: all .45s cubic-bezier(.099,.048,.053,.972);    
}


.element:hover .element-side.front {
  transform: translateY(11px);
  border-bottom: 4px solid #6755b0;
}

.colum {
  width: calc(70% / var(--columns-per-page));
  height: var(--effect-height);
  display: inline-block;
  z-index: 1;
}
.image-text {
  text-align: center;
  margin-top: 35px;
  padding-top: 25px;
  font-family: 'queen';
  font-size: 15px;
  letter-spacing: 3px;
  line-height: 2;
  justify-content: center;
  color: #1e1e1e;
}
.image-text:hover {
  color: #5f5f5f;
}
.line-break {
  width: 80%;
  border: none;
  border-top: 1.5px solid #1e1e1e;
  margin: 1px auto;
  border-radius: 5%;
  opacity: 0.5;
}
@media (min-width: 2752px) and (max-width: 3840px) {
  :root {
    --image-gap: 10px; 
    --columns-per-page: 5.5;
  }
  .colum {
    width: calc(70% / var(--columns-per-page));
  }
  .line-break{
    width: 80%;
  }
}

@media (max-width: 1440px) {
  :root {
    --image-gap: 10px; 
    --columns-per-page: 3; 
  }
  .colum {
    width: calc(70% / var(--columns-per-page));
  }
  .element-side.front {
    transform: rotateY(0deg) translateZ(0);
    z-index: 1; 
  }
  .work-head{
    padding-left: 16.5%;
    padding-bottom: 2.5%;
  }
  .work-foot{
    padding-left: 16.5%;
    padding-bottom: 1%;
  }
}
.rectangle {
  width: 950px;
  height: 10px;
  border: 1px solid #1e1e1e;
  opacity: 0.9;
}
.band-image{
  width: 400px;
  height: auto;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 15px 20px 0 20px;
  max-width: 50%;
  margin-left: 25.4%;
  z-index: 0;
}
@media (min-width: 2752px) and (max-width: 3840px) {
.container{
  max-width: 36.5%;
  margin-left: 31.6%;
}
}

.container .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container .box .dream {
  display: flex;
  flex-direction: column;
  width: 32.5%;
}

.container .box .dream img {
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.container .box .dream img:hover {
  transform: scale(0.9);
}

@media only screen and (max-width: 769px) {
  .container .box {
    flex-direction: column;
  }

  .container .box .dream {
    width: 100%;
  }
}

#modal {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

#modal .close {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}

#modalImage {
  display: block;
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ---- End of New Section for work page  ---- */



/* ---- Start of Contact footer ---- */
.page-footer {
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  bottom: 0;
  width: 100%;
  top: 20%;
  padding-left: 21%;
}
.contact-footer {
  z-index: 2;
  padding-top: 15rem;
  padding-bottom: 2rem;
  left: 21%;
  position: relative;
}
/* Media Queries for ultrawide screens */
@media (min-width: 2752px) and (max-width: 3840px) {
  .contact-footer{
    left: 30%;
    padding-top: 18rem;
  }
  .page-footer{
    padding-left: 30%;
    padding-top: 2.5rem;
  }
  .rectangle{
    width: 36.5%;
  }
}
.h3-footer-link {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  cursor: none;
  font-family: "EB Garamond", serif;
  font-size: 48px;
  letter-spacing: 3px;
  line-height: 1.7;
  color: #1e1e1e; 
  mix-blend-mode: difference; 
}
.hyde-section .h3-footer-link {
  color: #fff;
}
section#work.active .h3-footer-link,
section#contact.active .h3-footer-link {
  color: rgb(221, 193, 208);
  mix-blend-mode: normal; 
}
.h3-footer-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #1e1e1e;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
  mix-blend-mode: overlay;
}
.hyde-section .h3-footer-link::after {
  background-color: #fff;
}
section#work.active .h3-footer-link::after,
section#contact.active .h3-footer-link::after {
  background-color: rgb(221, 193, 208);
}
.h3-footer-link:hover::after {
  transform: scaleX(1);
}
.footer-bar {
  display: none;
  transform: translate3d(-101%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
}
.p-body {
  -webkit-text-size-adjust: 100%;
  font-family: Miera,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  cursor: none;
  box-sizing: border-box;
  margin-top: 0;
  color: #1e1e1e;
  letter-spacing: .02em;
  font-size: 1rem;
  line-height: 1.66em;
}
.hyde-section .p-body {
  color: #fff;
}
section#work.active .p-body,
section#contact.active .p-body
{
  color: rgb(221, 193, 208);
}
#work.active .contact-form,
section#contact.active .contact-form,
#work.active .outline-hr.footer-form-hr,
section#contact.active .outline-hr.footer-form-hr,
#work.active .contact-form h2,
section#contact.active .contact-form h2,
#work.active input,
section#contact.active input,
#work.active input:focus,
section#contact.active input:focus
{
  color: rgb(221, 193, 208);
  border-color: rgb(221, 193, 208);
}
#work.active .disclaimer,
section#contact.active .disclaimer,
#work.active label,
section#contact.active label,
#work.active .submit-button i,
section#contact.active .submit-button i,
#work.active input:focus ~ label,
input:valid ~ label,
section#contact.active input:focus ~ label,
input:valid ~ label
{
 color: rgb(190, 173, 182);
}
.underscore-link-parent {
  display: inline-block;
  position: relative;
  margin-right: 10px; 
}
@media (min-width: 2752px) and (max-width: 3840px) {
 .contact-form{
  left: 21%;
 }
}
.contact-form {
  background-color: transparent;
  left: 19.5%;
  padding-top: 0;
  z-index: 2;
  position: absolute;
}
.submit-button {
  background-color: transparent;
  border: none;
  cursor: none;
}
.submit-button i {
  color: #1e1e1e;
  font-size: 20px;
  cursor: none;
}
.hyde-section .submit-button i {
  color: #fff;
}
.contact-form h2 {
  font-family: 'queen';
  color: #1e1e1e;
  display: inline-block;
  position: relative;
  margin-right: 70px;
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.25em;
  letter-spacing: .02em;
}
.hyde-section .contact-form h2 {
  color: #fff;
}

form {
  background: transparent;
  border-radius: 10px;
  padding: 20px;
  font-family: Miera,Arial,sans-serif;
  cursor: none;
}

.firstname {
  position: relative;
  display: inline-block;
  margin-right: 50px;
}

.email {
  position: relative;
  display: inline-block;
}
.outline-hr.footer-form-hr {
  -webkit-text-size-adjust: 100%;
  letter-spacing: .02em;
  font-family: Miera,Arial,sans-serif;
  font-size: 1.125rem;
  line-height: 1.77em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  cursor: none;
  box-sizing: border-box;
  border: 1px solid #1e1e1e;
  width: 100%;
  height: 6px;
  flex: none;
  margin-top: 0;
  margin-bottom: 0;
  border-color: #1e1e1e;
}
.hyde-section .outline-hr.footer-form-hr {
  border-color: #fff;
}
input {
  border: none;
  background: transparent;
  width: fit-content;
  padding: 8px 5px 0 0;
  font-size: 18px;
  color: #1e1e1e;
  cursor: none;
}
.hyde-section input {
  color: #fff;
}
.disclaimer{
  -webkit-text-size-adjust: 100%;
  letter-spacing: .02em;
  font-family: 'work';
  font-size: 1.125rem;
  line-height: 1.77em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  cursor: none;
  color: #1e1e1e;
  box-sizing: border-box;
  max-width: 560px;
  margin-top: -5px;
  margin-left: 45.2%;
}
.hyde-section .disclaimer {
  color: #fff;
}
.footer__terroir-mid {
  margin-top: 0;
  padding-top: 0;
  padding-right: 15px;
}
.p-tiny {
  font-size: .9rem;
  line-height: 1.33333em;
}
label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  color: #1e1e1e;
  transition: 0.3s ease-in-out;
  cursor: none;
}
.hyde-section label {
  color: #fff;
}

input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #1e1e1e;
}
.hyde-section input:focus {
  border-bottom: #fff;
}
input:focus ~ label,
input:valid ~ label {
  top: -12px;
  font-size: 16px;
  color: #1e1e1e;
}
.hyde-section input:focus ~ label, input:valid ~ label {
  color: #fff;
}
.firstname input {
  width: 230px;
}
.email input {
  width: 300px;
}
@media (min-width: 2752px) and (max-width: 3840px) {
.contact-form{
margin-left: 9.5%;
}
}
/* ---- End of Contact footer ---- */



/* ---- Start of Resume ---- */
.resume-head {
  height: 100vh;
  width: 100%;
  background-color: #f8f5ee;
}
.centered-image {
  width: 450px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(0.2px);
  background-repeat: no-repeat;
  opacity: 0.6;
}
.blur-image {
  width: 100px;
  position: fixed;
  top: 26%;
  left: 90%;
  transform: translate(-50%, -50%);
  filter: blur(5px);
  background-repeat: no-repeat;
  opacity: 0.5;
}
@media (min-width: 2752px) and (max-width: 3840px) {
  .centered-image {
    top: 50%;
    left: 50%;
  }
  .blur-image {
    top: 26%;
    left: 82%;
  }

}
.show-name {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: 'queen';
  font-size: 5.5rem;
  font-weight: 100;
  line-height: 1.2em;
  color: #fff;
  padding-top: 16%;
  padding-bottom: 0%;
  padding-left: 19.5%;
}
.show-character{
  padding-top: 0%;
  padding-bottom: 2%;
  margin-top: 0;
  margin-bottom: 8px;
  font-family: 'queen';
  font-size: 5.5rem;
  font-weight: 100;
  line-height: 1.2em;
  color: #9c9898;
  padding-left: 19.5%;
}
.back-button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: transparent;
  z-index: 1;
  font-family: Miera, Arial, sans-serif;
  letter-spacing: .02em;
  font-size: 1.125rem;
  line-height: 1.77em;
  color: #9c9898;
  cursor: none;
  width: 100px;
  height: 40px;
}

.back-button-wrapper {
  position: absolute;
  left: 18%; 
  top: 20.5%; 
}
.disable-mix-blend-mode {
  mix-blend-mode: normal !important;
}
@media (min-width: 2752px) and (max-width: 3840px) {
  .show-character {
    padding-left: 28%;
  }
  .show-name {
    padding-left: 28%;
    padding-top: 11%;
  }
  .back-button-wrapper {
    left: 27%;
    top: 19%;
  }
  }
  .video-container {
    position: relative;
    width: 30%;
    height: 50%;
    padding-bottom: 16.18%;
    overflow: hidden;
    cursor: pointer;
    margin-left: 28%;
  }
  
  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .spotify h2 {
    padding-bottom: 3%;
    margin-top: 0;
    margin-bottom: 8px;
    font-family: 'queen';
    font-size: 3.5rem;
    font-weight: 100;
    line-height: 1.2em;
    padding-right: 30.3%;
    color: #1e1e1e;
    padding-top: 6.5%;
  }
  @media (min-width: 2752px) and (max-width: 3840px) {
    .spotify h2{
      padding-right: 23.5%;
      padding-top: 4.7%;
      padding-bottom: 2%;
    }
  }


  .spotify {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
  }
  .spotify-image {
    height: 350px;
    width: auto;
    vertical-align: middle;
    margin-left: 20px;
    transition: all .45s cubic-bezier(.099,.048,.053,.972);    
  }
 
  .spotify h3 img:hover {
    transform: translateY(11px);
  }
  @media (min-width: 2752px) and (max-width: 3840px) {
    .spotify-img-cont {
      width: 1200px;
      height: 550px;
    }
  }
  .spotify h3 {
    -webkit-text-size-adjust: 100%;
    letter-spacing: .02em;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    cursor: none;
    color: #1e1e1e;
    box-sizing: border-box;
    margin-top: 0;
    font-family: 'queen';
    font-size: 6.5rem;
    font-weight: 100;
    line-height: 1.1em;
    margin-bottom: 0;
  }
 
  .spotify h4 {
    color: #5f5f5f;
    letter-spacing: 0.02em;
    font-family: 'work';
    font-size: 1rem;
    line-height: 1.3em;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    margin-top: 10px;
    opacity: 1;
    transform-style: preserve-3d;
    padding-bottom: 5%;
    font-weight: 500;
    padding-left: 20%;
    padding-top: 10.5%;
  }
  .spotify h3,
  .spotify h4 {
  opacity: 0;
  transform: translateY(150px);
  transition: opacity 1.5s ease, transform 0.7s ease;
}
  .spotify.reveal h3,
  .spotify.reveal h4 {
    opacity: 1;
    transform: translateY(0);
  }
  .spotify-name {
    margin-top: 0;
    margin-bottom: 8px;
    font-family: 'queen';
    font-size: 5.5rem;
    font-weight: 100;
    line-height: 1.2em;
    color: #fff;
    padding-bottom: 0%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-top: 12%;
    z-index: 1;
  }
  @media (min-width: 2752px) and (max-width: 3840px) {
    .spotify h4 {
      padding-left: 13.7%;
    }
  }

  /* --- Start of About Page --- */
  .direc-cont{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 750px;
 }
  .direc-wrap{
    flex: none;
    align-items: flex-start;
    padding-top: 76px;
    padding-bottom: 64px;
    display: flex;
  }
  .directors-title{
    font-size: 1.15rem;
    padding-left: 24.5%;
    position: -webkit-sticky;
    position: sticky;
    font-family: 'work';
    font-weight: 400;
    line-height: 1em;
    z-index: 1;
    object-fit: fill;
    padding-top: 0;
    top: 60vh;
}
  .directors-list {
    font-size: 6.5rem;
    font-weight: 100;
    line-height: 0.8em;    
    padding-left: 2.5%;
    z-index: 5;
    font-family: 'queen';
    text-shadow: -1px -1px 0 #1e1e1e, 1px -1px 0 #1e1e1e, -1px 1px 0 #1e1e1e, 1px 1px 0 #1e1e1e;
    opacity: 0.9;
}
.directors-list li {
    background-color: transparent;
    transition: background-color 0.8s;
}
@supports ((text-stroke: 1px black) or (-webkit-text-stroke: 1px black)) {
    .directors-list {
        color: transparent;
        -webkit-text-stroke: 1px #1e1e1e;
        text-stroke: 1px #1e1e1e;
        text-shadow: none;
    }
}
  .directors-list li:hover {
      color: #1e1e1e;
  }
  .directors-list a {
    color: inherit;
    text-decoration: none;
    cursor: none;
}
@media (min-width: 2752px) and (max-width: 3840px) {
  .directors-title {
    padding-left: 28%;
    padding-top: 2.1%;
  }
  .direc-cont{
    padding-top: 32%;
  }
}
.directors-list li {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}
.directors-list li.reveal {
  opacity: 1;
  transform: translateY(0);
}
.about-cont{
  height: 100vh;
}
.about-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  height: auto;
  margin-left: 22%;
  padding-top: 10%;
}
#band2.about-con {
  padding-top: 2%; 
  padding-left: 2%;}

@media (min-width: 2752px) and (max-width: 3840px) {
  #band2.about-con {
    padding-top: 2%; 
    padding-left: 6%;
  }
}
.about2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  height: auto;
  margin-left: 22%;
  padding-top: 1%;
}
#band.about2 {
  padding-left: 2%;
}

@media (min-width: 2752px) and (max-width: 3840px) {
  #band.about2 {
    padding-left: 6%;
  }
}
h1.about-1 {
  font-family: 'queen';
  font-size: 5rem;
  font-weight: 100;
  line-height: 1.2em;
  padding-bottom: 5%;
  color: #1e1e1e;
  padding-top: 3.2%;
  padding-left: 5.3%;
}
h1.about-2 {
  font-family: 'queen';
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.2em;
  padding-bottom: 5%;
  color: #1e1e1e;
  padding-top: 2%;
  padding-left: 5.3%;
}
.subtext-section {
	font-family: 'work';
	font-size: 18px;
	font-weight: 100;
	column-count: 1;
	column-gap: 50px;
  column-width: auto;
  padding-bottom: 0px;
  color: #696b6b;
  padding-left: 3%;
  break-inside: avoid-column;
}
.p-about {
width: 1050px;
}
@media (min-width: 2752px) and (max-width: 3840px) {
  .p-about {
    width: auto;
    }
}
.subtext-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  font-family: 'work';
	font-size: 18px;
	font-weight: 100;
  padding-left: 5.6%;
}
@media (min-width: 2752px) and (max-width: 3840px) {
  .subtext-grid {
    padding-left: 4.7%;
  }

}
.resume-name{
  font-size: 24px;
  color: black;
}
.resume-edu{
  font-size: 24px;
  color: black;
}
.resume-download {
  font-size: 15px;
}
.column {
  color: #696b6b;
}
div.subtext-section.fade-up p {
  line-height: 140%;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
}
@keyframes fade-upabout {
  0% {
    opacity: 0;
    transform: translateY(3em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-up {
  animation: fade-up 1.5s cubic-bezier(.25,.46,.45,.94) forwards;
}
.fade-up {
  opacity: 0;
  animation-delay: 0.1s;
}
.download-button {
  padding: 8px 12px;
  background-color: #1e1e1e;
  color: #eee;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  margin-left: 25px;
  cursor: none;
}
.resume-full {
  font-size: 24px;
  color: black;
  margin-bottom: 100px;
}
.fwh-about {
  height: 205vh;
  width: 100vw;
  box-sizing: border-box;
}
.fwh-resume {
  height: 385vh;
  width: 100vw;
  box-sizing: border-box;
}
.resume-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8%;
  padding-left: 5.7%;
}
@media (min-width: 2752px) and (max-width: 3840px) {
.resume-img {
    padding-top: 8%;
    padding-left: 5%;
    max-width: 1250px;
  }
}
@media (min-width: 2752px) and (max-width: 3840px) {
  .about-cont {
    padding-left: 5%;
  }
  .subtext-section {
    column-gap: 1px;
  }
  h1.about-1 {
    padding-left: 4.3%;
    padding-top: 0%;
  }
  .fwh-about {
    height: 200vh
  }
  .fwh-resume {
    height: 380vh;
  }
}

.bandgeeks-img {
  height: 250px;
  width: auto;
  vertical-align: middle;
  margin-left: 20px;
}

@media (min-width: 1800px) {
  .video-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(500px, 1fr));
    grid-gap: 20px;
    padding: 0 24.5%;
  }
}

@media (max-width: 1800px) {
  .video-grid {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    padding: 0 24.5%;
    width: 1020vh;
    height: auto;
  }
}

.vid-back{
  background-color: transparent; 
  padding: 15px; 
  width: 100%;
}
.vid-back h3 {
  border-bottom: 1px solid; 
  margin: 0 0 8px 0; 
  font-size: 20px; 
  font-weight: 100;
  font-family: 'work';
  letter-spacing: 0.05rem;
  line-height: 1.125rem;
  color: #1e1e1e;
}
.vid-back p {
  margin: 8px 0 0 0;
  font-size: 15px; 
  font-weight: 100;
  font-family: 'work';
  line-height: 1.125rem;
  color: #1e1e1e;
}
.vid-pos {
  position: relative; 
  width: 100%; 
  padding-top: 56.4%;
}
.video-grid h2{
  padding: 5% 0 0.5% 3.1%;
  font-family: 'work';
  font-size: 1rem;
  line-height: 1.77em;
  color: #1e1e1e;
  letter-spacing: 0.05em;
  z-index: 0;
  opacity: 0.5;
  font-weight: lighter;
}
.band-about{
  width: 925px;
  font-size: 17px;
}
@media (min-width: 2752px) and (max-width: 3840px) {
  .band-about{
    width: 1150px;
  }
  .video-grid{
    padding-left: 31.1%;
  }
}
.news-wrapper {
  text-align: center;
}

.news-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: 20px;
  font-family: 'queen3';
  font-size: 1.8rem;
  line-height: 1.2em;
  padding-top: 3%;
  color: #1e1e1e;
  background-color: #f8f5ee;
}
.news-wrap{
  background-color: #f8f5ee;
  width: auto;
  height: auto;
}
.news-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}
.news-item {
  text-align: center;
}
.news-item img {
  width: 202px;
  height: 202px;
  object-fit: cover;
}
.p1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  font-family: 'queen';
  color: #1e1e1e;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 1.2;
  padding-top: 8px;
  padding-bottom: 15px;
}
.news-description {
  font-size: 10px;
  color: #888787;
  font-family: 'work';
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0em;
}

.news-description .date {
  font-family: 'work';
  font-weight: bold;
  font-style: normal;
}

.news-description em {
  font-style: italic;
}
@media (max-width: 767px) {
  .news-container {
    grid-template-columns: 1fr;
  }
}
.padding {
  padding-bottom: 5%;
}

